<div class="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="row text-center" style="padding: 30px; ">
                    <h3>Coded by Creative Team</h3>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="https://www.linkedin.com/profile/view?id=AAIAAAV1a-IBqNCMiaz4-PKfMNXptUwbkO1CUGM"
                           style="text-decoration: none">
                            <div class="thumbnail">

                                <img class="contributorImage"
                                     src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAARpAAAAJDQ4MDQzZTQ5LWNjZDAtNDA5My05MjE0LTkzYjA3MzA2YjJmNQ.jpg"
                                     alt="#">

                                <div class="caption text-center">
                                    <h3>Olga Ayvazyan</h3>

                                    <p>Ruby on Rails, AngularJS, Restangular, Instagram API</p>

                                    <p>San-Francisco, CA</p>
                                </div>
                            </div>

                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="https://www.linkedin.com/profile/view?id=AA4AABJhfIAB4ew0_Ep3qvOGll8Ci_U_LstoOQI"
                           style="text-decoration: none">
                            <div class="thumbnail">

                                <img class="contributorImage"
                                     src="https://media.licdn.com/media/p/2/005/02e/0bb/3f76ffb.jpg" alt="#">

                                <div class="caption text-center">
                                    <h3>Julia Gladysh</h3>

                                    <p>Design, JQuery, AngularJS, Bootstrap</p>

                                    <p>San-Francisco, CA</p>
                                </div>
                            </div>

                        </a>
                    </div>

                </div>
                <div class="row text-center git" style="padding: 50px">
                    <h4><a href="https://github.com/ayva/ImageForecast" class="gitlink"><img src="images/git.png">You
                        are
                        welcome to contribute</a></h4>
                </div>

            </div>
        </div>
    </div>
    <div id="footer" app-footer style="position:fixed; bottom:0;">
<!--         <span class="copyright">Copyright © 2015 Futugramm Inc. All rights reserved.</span>

        <div class="rightBlock">
            <a ui-sref="about" class="about">About</a>
            <!-- <a href="#" class="follow">Follow us<img class="instIcon" ng-src="/statics/images/instagram.png"></a> -->
        </div> -->
    </div>
</div>