<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body>


<div class="wrapper">
    <div class="header">
        <div class="fullscreen-bg">
            <video loop muted autoplay poster="" class="fullscreen-bg__video">
                <source ng-src="/statics/video/headerVideo.ogv" type="video/ogg">
            </video>
        </div>

        <p class="explanation">Futugramm shows how it will look in the coming year through the eyes of those,
            who already have been there. Select a city, a date of a planned trip, and a point on map.</p>

        <form class="form-inline" ng-model="searchForm" ng-submit="showForecast()">
            <div class="cityInput">
                <input type="text"
                       required="string"
                       uib-typeahead="place.name for place in geo.places"
                       typeahead-no-results="noResults"
                       typeahead-append-to-body="true"
                       typeahead-on-select="searchForm.place = $item"
                       ng-model="searchForm.place"
                       ng-change="getPlaces(searchForm.place)"
                       class="input"
                       ng-value="search.place"
                       autocomplete="off">
                
                <!-- <button type="submit" class="button">GO</button> -->
            </div>


            <div class="slider-wrapper">
                <div class="months">

                    <button type='button' class="mnth-button" data-month='JAN' ng-click="printMonth(1)">JAN</button>
                    <button type='button' class="mnth-button" data-month='FEB' ng-click="printMonth(2)">FEB</button>
                    <button type='button' class="mnth-button" data-month='MAR' ng-click="printMonth(3)">MAR</button>
                    <button type='button' class="mnth-button" data-month='APR' ng-click="printMonth(4)">APR</button>
                    <button type='button' class="mnth-button" data-month='MAY' ng-click="printMonth(5)">MAY</button>
                    <button type='button' class="mnth-button" data-month='JUN' ng-click="printMonth(6)">JUN</button>
                    <button type='button' class="mnth-button" data-month='JUL' ng-click="printMonth(7)">JUL</button>
                    <button type='button' class="mnth-button" data-month='AUG' ng-click="printMonth(8)">AUG</button>
                    <button type='button' class="mnth-button" data-month='SEP' ng-click="printMonth(9)">SEP</button>
                    <button type='button' class="mnth-button" data-month='OCT' ng-click="printMonth(10)">OCT</button>
                    <button type='button' class="mnth-button" data-month='NOV' ng-click="printMonth(11)">NOV</button>
                    <button type='button' class="mnth-button" data-month='DEC' ng-click="printMonth(12)">DEC</button>

                </div>

                <input type="text" data-slider="true" id="slider-input" data-slider-range='1,30' data-slider-step="1"
                       data-slider-snap="true">

                <div>
                    <ul class="days-list"></ul>
                </div>
                <div><span class="output"></span></div>
            </div>
            <div class="calendar-container" id="calendar-mobile">
                <input type="text" id="datepicker" size="30" ng-model="searchForm.date">
            </div>





            <button ng-show="current_user.data" type="submit" class="btn btn-success">Show me the future</button>
            <a ng-hide="current_user.data" href = "https://api.instagram.com/oauth/authorize/?client_id=02ca6d5f03394f4bb1401aea6ef75c08&redirect_uri=http://futugram.xyz:3000/callback&response_type=code" class="btn btn-default">Please login to search the future</a>
        </form>

    </div>
    <div class="map-wrapper">
        <div id="map"></div>
<!--         <h1 class="row text-center" style="color: black">{{search.place.name}} on {{search.date}}</h1> -->

    </div>
<!--     <div style="color: black">

        Form {{searchForm}}
        <br>
        Storage search {{search}}
        <br>
        Date {{mobiledate}}
        {{days}}
    </div> -->

    <div class="photoBlock">
        <h4 class="text-center" ng-if="featured.cities.data.length == 0 ">No photos for this place. Try another date
            or
            place.</h4>

        <div class="row" id='photos'>
            <div class="weather-block-wrapper col-md-4">
                <div class="weather-block thumbnail">
                    <div class="weather-info">
                        <img class="weatherIcon" ng-src="/statics/images/{{weather.forecast.icon}}.png">

                        <div class="degrees">
                            <div class="fahrenheits"><p>{{weather.forecast.farenheits}} ºF </p></div>
                            <div class="fahrenheits"><p>({{weather.forecast.celsius}} ºC)</p></div>
                        </div>

                        <div class="conditions">{{weather.forecast.summary}}</div>
                    </div>
                </div>
            </div>
            <div id="photo-{{$index+1}}" class="col-md-4"
                 ng-repeat="photo in featured.cities.data | orderBy: '-likes.count' ">
                <a href={{photo.link}} class="thumbnail">
                    <img ng-src='{{photo.images.standard_resolution.url}}'>
                    <span class="signature">Posted by @{{photo.user.username}}</span>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <span class="copyright">Copyright © 2015 Futugramm Inc. All rights reserved.</span>

        <div class="rightBlock">
            <a ui-sref="about" class="about">About</a>
            <!-- <a href="#" class="follow">Follow us<img class="instIcon" ng-src="/statics/images/instagram.png"></a> -->
        </div>
    </footer>
</div>
</body>
</html>


<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class='col-sm-6'>-->
<!--<div class="form-group">-->
<!--<div class='input-group date' id='datetimepicker1'>-->

<!--<input type='text' class="form-control"  ng-model="searchForm.date"/>-->
<!--<span class="input-group-addon">-->
<!--<span class="glyphicon glyphicon-calendar"></span>-->
<!--</span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- -->
<!--</div>-->
<!--</div>-->





