
<div class="container">
  <div class="row">
    <form class="form-inline" ng-model="searchForm" ng-submit="showForecast()">
      <input  type="text"
        required="string" 
        uib-typeahead="place.name for place in geo.places"
        typeahead-no-results="noResults"
        typeahead-append-to-body = "true"
        typeahead-on-select = "searchForm.place = $item"

        ng-model = "searchForm.place"
        ng-change="getPlaces(searchForm.place)"
        class = "form-control"
        autocomplete="off">
        
      <input  type="date" class="form-control"  ng-model="searchForm.date">
      

      <button ng-show="current_user.data" type="submit" class="btn 
      btn-default">Show me the future!!</button>
      <a ng-hide="current_user.data" href = "https://api.instagram.com/oauth/authorize/?client_id=02ca6d5f03394f4bb1401aea6ef75c08&redirect_uri=http://futugram.xyz:3000/callback&response_type=code" class="btn btn-default">Please login to search the future!!</a>

    </form>

  </div>

  <h1>Map</h1>

  <div id='map'></div>


  <h1 class="row text-center">{{search.place.name}} on {{search.date}}</h1>
  
  <h4 class="text-center" ng-if="featured.cities.data.length == 0 ">No photos for this place. Try another date or place.</h4 class="text-center">
  <div class="row">
    <div class="col-xs-6 col-md-3" ng-repeat="photo in featured.cities.data | orderBy: '-likes.count' ">
      <a href='{{photo.link}}' class="thumbnail">
        <img id="photo.{{$index+1}}" ng-src='{{photo.images.standard_resolution.url}}'>
<!--         <ul>
          <li>Posted by @{{photo.user.username}}</li>
          <li>Likes {{photo.likes.count}}</li>
          <li>Tags total {{photo.tags}}</li>
          <li>Created at {{photo.created_time}}</li>
          <li>Created at {{photo.created_date}}</li>
          <li ng-repeat='tag in photo.tags'>{{tag}}</li>
        </ul> -->
      </a>
    </div>
  </div>
</div>




