<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <div class="fullscreen-bg">
            <video loop muted autoplay poster="" class="fullscreen-bg__video">
                <source ng-src="/statics/video/headerVideo.ogv" type="video/ogg">
            </video>
        </div>
        <div class="nav">
            <div class="logo">FUTUGRAMM</div>
            <button class="sign">SIGN IN</button>
        </div>

        <p class="explanation">Futugramm shows how it will look in the coming year through the eyes of those,
            who already have been there. Select a city, a date of a planned trip, and a point on map.</p>

        <form class="form-inline" ng-model="searchForm" ng-submit="showForecast()">
            <div class="cityInput">
                <input type="text"
                       required="string"
                       uib-typeahead="place.name for place in geo.places"
                       typeahead-no-results="noResults"
                       typeahead-append-to-body="true"
                       typeahead-on-select="searchForm.place = $item"
                       ng-model = "searchForm.place"
                       ng-change="getPlaces(searchForm.place)"
                       class="input form-control"
                       ng-value="search.place"
                       autocomplete="off">
                <button type="submit" ng-show="current_user.data" class="button">GO</button>

                <!--<input  type="date" class="form-control"  ng-model="searchForm.date">-->


                <!--<button ng-show="current_user.data" type="submit" class="btn -->
      <!--btn-default">Show me the future</button>-->
                <!--<a ng-hide="current_user.data" href = "https://api.instagram.com/oauth/authorize/?client_id=02ca6d5f03394f4bb1401aea6ef75c08&redirect_uri=http://futugram.xyz:3000/callback&response_type=code" class="btn btn-default">Please login to search the future</a>-->
            </div>
            <div class="slider-wrapper">
                <div class="months">
                    <button type='button' class="mnth-button" data-month='JAN'>JAN</button>
                    <button type='button' class="mnth-button" data-month='FEB'>FEB</button>
                    <button type='button' class="mnth-button" data-month='MAR'>MAR</button>
                    <button type='button' class="mnth-button" data-month='APR'>APR</button>
                    <button type='button' class="mnth-button" data-month='MAY'>MAY</button>
                    <button type='button' class="mnth-button" data-month='JUN'>JUN</button>
                    <button type='button' class="mnth-button" data-month='JUL'>JUL</button>
                    <button type='button' class="mnth-button" data-month='AUG'>AUG</button>
                    <button type='button' class="mnth-button" data-month='SEP'>SEP</button>
                    <button type='button' class="mnth-button" data-month='OCT'>OCT</button>
                    <button type='button' class="mnth-button" data-month='NOV'>NOV</button>
                    <button type='button' class="mnth-button" data-month='DEC'>DEC</button>
                </div>
                <input type="text" data-slider="true" id="slider-input" data-slider-range="1,30" data-slider-step="1"
                       data-slider-snap="true">

                <div>
                    <ul class="days-list"></ul>
                </div>
                <div><span class="output"></span></div>
            </div>

        </form>

        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    });
                </script>
            </div>
        </div>

    </div>

    <div class="map-wrapper">
        <div id="map"></div>
        
  <!--<h1 class="row text-center">{{search.place.name}} on {{search.date}}</h1>-->
  <!--<h4 class="text-center" ng-if="featured.cities.data.length == 0 ">No photos for this place. Try another date or place.</h4 class="text-center">-->
<!--         <ul>
          <li>Posted by @{{photo.user.username}}</li>
          <li>Likes {{photo.likes.count}}</li>
          <li>Tags total {{photo.tags}}</li>
          <li>Created at {{photo.created_time}}</li>
          <li>Created at {{photo.created_date}}</li>
          <li ng-repeat='tag in photo.tags'>{{tag}}</li>
        </ul> -->
    </div>
    <div class="photoBlock">
        <h4 class="text-center" ng-if="featured.cities.data.length == 0 ">No photos for this place. Try another date or
            place.</h4>

        <div class="row" id='photos'>
            <div class="weather-block-wrapper col-md-4">
                <div class="weather-block thumbnail">
                    <div class="weather-info">
                        <img class="weatherIcon" ng-src="/statics/images/sun-cloud.png">

                        <div class="degrees">
                            <div class="fahrenheits"><p>63 ºF</p></div>

                            <div class="celsius"><p>(17 ºC)</p></div>
                        </div>

                        <div class="conditions">Mostly Cloudy</div>
                    </div>
                </div>
            </div>
            <div id="photo-{{$index+1}}" class="col-md-4"
                 ng-repeat="photo in featured.cities.data | orderBy: '-likes.count' ">
                <a href={{photo.link}} class="thumbnail">
                    <img ng-src='{{photo.images.standard_resolution.url}}'>
                    <span class="signature">Posted by @{{photo.user.username}}</span>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <span class="copyright">Copyright © 2015 Futugramm Inc. All rights reserved.</span>

        <div class="rightBlock">
            <a href="#" class="about">About</a>
            <a href="#" class="follow">Follow us<img class="instIcon" ng-src="/statics/images/instagram.png"></a>
        </div>
    </footer>
</div>
</div>
</body>
</html>




