@media (min-width: 1025px) {

    @font-face {
        font-family: digital;
        src: url(/statics/fonts/digital-7.ttf);
    }

    .fullscreen-bg {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
        width: 1000px;
        height: 350px;
        margin: 0 auto;
    }

    .fullscreen-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
    }

    .header {
        width: 1000px;
        height: 350px;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px;
        color: white;
        font-family: 'Orbitron', sans-serif;
    }

    .logo {
        font-size: 20pt;
        margin-top: 10px;
    }

    .explanation {
        width: 790px;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        font-size: 12pt;
    }

    .cityInput {
        width: 300px;
        margin: 0 auto;
        margin-top: 30px;
        font-family: digital, serif;
    }

    .cityInput .input {
        width: 250px;
        height: 40px;
        float: left;
        padding-left: 10px;
        border: 2px solid white;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        color: rgb(01, 22, 33);
        font-size: 20pt;
    }

    .cityInput .button {
        width: 50px;
        height: 40px;
        float: left;
        border: 2px solid white;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        background-color: transparent;
        font-size: 20pt;
    }

    footer {
        width: 1000px;
        height: 60px;
        margin: 0 auto;
        padding: 20px 10px 10px;
        color: white;
        background-color: rgb(01, 22, 33);
    }

    footer a {
        color: white;
    }

    footer .rightBlock {
        float: right;
        margin-top: -5px;
    }

    .about {
        margin-right: 30px;
    }

    .sign {
        float: right;
        width: 80px;
        height: 40px;
        border: 2px solid white;
        border-radius: 10px;
        background-color: transparent;
    }

    .logo {
        float: left;
    }

    .nav {
        height: auto;
    }

    .instIcon {
        height: 40px;
        margin-top: -5px;
        margin-left: 5px;
    }
}